<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Urmatorul film Marvel - {{ movieInfo['title'] }}</title>


    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="/img/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h1 class="float-center mb-0">{{ movieInfo['title'] }}</h1>
        </div>
    </header>

    <main class="px-3">
        <div class="lead">
            <span> Apare in {{ movieInfo['days_until'] }} zile! </span> <br>
            <span>
                Data la care apare: {{ movieInfo['release_date'] }}<br>
                <p>{{ movieInfo['overview'] }}</p>
            </span>
        </div>
        <br>
        <span>
            <img src="{{ movieInfo['poster_url'] }}" alt="">
        </span>
    </main>

    <footer class="mt-auto text-white-50">
        <p>
            <a href="https://invata-programare.ro/" class="text-white" target="_blank">Website created with ♥</a>!
        </p>
    </footer>
</div>



</body>
</html>
